body {
	
	background-color: #3b3a36;
	color: #b3c2bf;
	margin-left: 21%;
	margin-right: 21%;
	font-family: OpenSans, Helvetica;

}

p  {

	word-wrap: break-word;

}

h1 {

	margin-bottom: -10px;
	font-family: Roboto;

}

h2, h3, h4, h5 {

	color: #e9ece5;
	margin-bottom: -0px;
	font-family: Roboto;

}

pre {

	margin: 10px 0px;
	color: white;

}

a {
	
	color: white;
	text-decoration: none;
	transition: color 0.3s;
	
}

a:hover {
	
	color: #e9ece5;
	
}

img {
	
	max-width: 100%;
	
}

table {
	
	width: 100%;
	text-align: center;
	
}

td {

	vertical-align: top;

}

.toc {
	
	font-size: 13px;
	
}

.notice {

	font-size: 13px;
	color: grey;

}